# Import libraries

In [181]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [182]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

In [183]:
pd.set_option('display.max_columns', 500)

# Load the dataframe

In [184]:
df = pd.read_csv('cs1 - train_dataset.csv',low_memory=False)

In [185]:
df_test = pd.read_csv('cs1 - test_dataset.csv',low_memory=False)

In [186]:
df_test.shape

(58000, 28)

In [187]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58000 entries, 0 to 57999
Data columns (total 28 columns):
client_id       58000 non-null int64
d_open          58000 non-null int64
d_start         54627 non-null float64
d_last          54240 non-null float64
d_close         28471 non-null float64
client_type     58000 non-null int64
loan_purpose    58000 non-null int64
max_amount      58000 non-null int64
interest        58000 non-null int64
period          57954 non-null object
category        58000 non-null int64
cur             58000 non-null object
overdue         46836 non-null float64
pmt_due         26126 non-null float64
amt_paid        21098 non-null float64
amt_overdue     57996 non-null float64
max_overdue     57996 non-null float64
delay           46956 non-null float64
npl_5           58000 non-null int64
npl_5_29        58000 non-null int64
npl_30          58000 non-null int64
npl_30_59       58000 non-null int64
npl_60_89       58000 non-null int64
npl_90plus      58000 non-null int64
pmt_history     56101 non-null object
bki_id          58000 non-null int64
d_request       58000 non-null int64
d_confirm       58000 non-null int64
dtypes: float64(9), int64(16), object(3)
memory usage: 12.4+ MB

In [188]:
df_test = df_test.select_dtypes(exclude='object')

In [189]:
df = df.select_dtypes(exclude='object')

In [190]:
df_test.head(2)

,client_id,d_open,d_start,d_last,d_close,client_type,loan_purpose,max_amount,interest,category,overdue,pmt_due,amt_paid,amt_overdue,max_overdue,delay,npl_5,npl_5_29,npl_30,npl_30_59,npl_60_89,npl_90plus,bki_id,d_request,d_confirm
0,7570,40393,40628.0,72951.0,NaN,1,7,45000,0,0,46849.0,4837.0,9900.0,0.0,0.0,0.0,0,0,0,0,0,0,3,40645,40638
1,7006,39414,39906.0,39899.0,39899.0,1,9,47425,0,13,0.0,NaN,NaN,0.0,0.0,0.0,0,0,0,0,0,0,1,40497,39900

In [191]:
df_test.shape

(58000, 25)

In [192]:
df.shape

(135000, 26)

In [193]:
df.fillna(df.mean(), inplace=True)
print(df.isnull().sum())

client_id       0
d_open          0
d_start         0
d_last          0
d_close         0
client_type     0
loan_purpose    0
max_amount      0
interest        0
category        0
overdue         0
pmt_due         0
amt_paid        0
amt_overdue     0
max_overdue     0
delay           0
npl_5           0
npl_5_29        0
npl_30          0
npl_30_59       0
npl_60_89       0
npl_90plus      0
bki_id          0
d_request       0
d_confirm       0
default         0
dtype: int64

In [194]:
df_test.fillna(df_test.mean(), inplace=True)
# count the number of NaN values in each column
print(df_test.isnull().sum())

client_id       0
d_open          0
d_start         0
d_last          0
d_close         0
client_type     0
loan_purpose    0
max_amount      0
interest        0
category        0
overdue         0
pmt_due         0
amt_paid        0
amt_overdue     0
max_overdue     0
delay           0
npl_5           0
npl_5_29        0
npl_30          0
npl_30_59       0
npl_60_89       0
npl_90plus      0
bki_id          0
d_request       0
d_confirm       0
dtype: int64

In [195]:
df_test = df_test[['client_id','client_type','loan_purpose','max_amount','interest','category','overdue','max_overdue','delay','npl_5','npl_5_29','npl_30','npl_30_59','npl_60_89','npl_90plus']]

In [196]:
df_test.shape

(58000, 15)

In [197]:
# see dataframe
df.head()

,client_id,d_open,d_start,d_last,d_close,client_type,loan_purpose,max_amount,interest,category,overdue,pmt_due,amt_paid,amt_overdue,max_overdue,delay,npl_5,npl_5_29,npl_30,npl_30_59,npl_60_89,npl_90plus,bki_id,d_request,d_confirm,default
0,12608,40425,40611.0,42251.0,39918.09448,1,9,146398,0,0,1.360357e+06,17905.098709,61547.617905,0.0,172778.0,0.000000,1,0,1,0,0,0,1,40641,40610,0
1,17459,40344,40497.0,41440.0,39918.09448,1,9,250000,0,0,6.838628e+05,17905.098709,42600.000000,0.0,0.0,29.000000,0,2,2,0,0,0,3,40501,40475,0
2,10050,40279,40489.0,72697.0,39918.09448,1,7,15000,0,0,1.294100e+04,280.000000,6146.000000,0.0,0.0,0.000000,0,0,0,0,0,0,3,40495,40488,0
3,16804,40121,40305.0,40304.0,40305.00000,1,9,11490,0,13,0.000000e+00,17905.098709,0.000000,0.0,0.0,20.058564,0,0,0,0,0,0,3,40581,40313,0
4,19775,39603,40029.0,39933.0,40029.00000,1,7,200000,0,13,6.838628e+05,0.000000,234469.000000,0.0,0.0,20.058564,0,0,0,0,0,0,3,40511,40473,0

In [198]:
df_test.head(2)

,client_id,client_type,loan_purpose,max_amount,interest,category,overdue,max_overdue,delay,npl_5,npl_5_29,npl_30,npl_30_59,npl_60_89,npl_90plus
0,7570,1,7,45000,0,0,46849.0,0.0,0.0,0,0,0,0,0,0
1,7006,1,9,47425,0,13,0.0,0.0,0.0,0,0,0,0,0,0

### Datatype and missing value of each columns

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135000 entries, 0 to 134999
Data columns (total 26 columns):
client_id       135000 non-null int64
d_open          135000 non-null int64
d_start         135000 non-null float64
d_last          135000 non-null float64
d_close         135000 non-null float64
client_type     135000 non-null int64
loan_purpose    135000 non-null int64
max_amount      135000 non-null int64
interest        135000 non-null int64
category        135000 non-null int64
overdue         135000 non-null float64
pmt_due         135000 non-null float64
amt_paid        135000 non-null float64
amt_overdue     135000 non-null float64
max_overdue     135000 non-null float64
delay           135000 non-null float64
npl_5           135000 non-null int64
npl_5_29        135000 non-null int64
npl_30          135000 non-null int64
npl_30_59       135000 non-null int64
npl_60_89       135000 non-null int64
npl_90plus      135000 non-null int64
bki_id          135000 non-null int64
d_request       135000 non-null int64
d_confirm       135000 non-null int64
default         135000 non-null int64
dtypes: float64(9), int64(17)
memory usage: 26.8 MB

## Select columns

In [200]:
df = df[['client_type','loan_purpose','max_amount','interest','category','overdue','max_overdue','delay','npl_5','npl_5_29','npl_30','npl_30_59','npl_60_89','npl_90plus','default']]

In [201]:
df.shape

(135000, 15)

In [70]:
# See Distribution
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135000 entries, 0 to 134999
Data columns (total 15 columns):
client_type     135000 non-null int64
loan_purpose    135000 non-null int64
max_amount      135000 non-null int64
interest        135000 non-null int64
category        135000 non-null int64
overdue         108872 non-null float64
max_overdue     134985 non-null float64
delay           109435 non-null float64
npl_5           135000 non-null int64
npl_5_29        135000 non-null int64
npl_30          135000 non-null int64
npl_30_59       135000 non-null int64
npl_60_89       135000 non-null int64
npl_90plus      135000 non-null int64
default         135000 non-null int64
dtypes: float64(3), int64(12)
memory usage: 15.4 MB

In [71]:
# Drop columns which have max missing values

df = df.dropna(subset=['delay','overdue'])

In [72]:
df_test = df_test.dropna(subset=['delay','overdue'])

## Label Distribution

In [202]:
df['default'].value_counts()

0    121565
1     13435
Name: default, dtype: int64

## Spilt the dataset to train and test

In [203]:
# Take 80% data as traing set and 20% as testing set

msk = np.random.rand(len(df)) < 1
train = df[msk]
test = df[~msk]

In [204]:
train.shape

(135000, 15)

In [205]:
test.shape

(0, 15)

In [206]:
# Training set distribution

train['default'].value_counts()

0    121565
1     13435
Name: default, dtype: int64

In [207]:
# Testing set distribution

test['default'].value_counts()

Series([], Name: default, dtype: int64)

In [79]:
# Separate input features (X) and target variable (y)

y_test = test.default
X_test = test.drop('default', axis=1)

# Modeling

## Apply Logistic Regression model

In [55]:
# Separate input features (X) and target variable (y)
labels = train.default
features = train.drop('default', axis=1)

# Train model
clf_0 = LogisticRegression().fit(features, labels)
 
# Predict on testing set
pred_y_0 = clf_0.predict(X_test)

ValueError: Found array with 0 sample(s) (shape=(0, 14)) while a minimum of 1 is required.

In [ ]:
# How's the accuracy?
print( accuracy_score(pred_y_0, y_test) )

### Confusion matrix 

TP TN


FP FN

In [ ]:
confusion_matrix(pred_y_0, y_test)

### Roc Score

In [ ]:
prob_y_0 = clf_0.predict_proba(X_test)
prob_y_0 = [p[1] for p in prob_y_0]
 
print( roc_auc_score(y_test, prob_y_0) )

### Only '0' class predicted as we have uneven distibution of data

In [ ]:
print( np.unique( pred_y_0 ) )
# [0]

# Use Sampling method to make equal distribution

### 1. Up-sample Minority Class

In [ ]:
from sklearn.utils import resample

In [ ]:
# Separate majority and minority classes
df_majority = train[train.default==0]
df_minority = train[train.default==1]

In [ ]:
df_majority.shape

In [ ]:
# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=66924,    # to match majority class
                                 random_state=123) # reproducible results

In [ ]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [ ]:
df_upsampled.default.value_counts()

In [ ]:
labels = df_upsampled['default']
features = df_upsampled.drop(['default'],axis=1)

In [ ]:
from sklearn.linear_model import LogisticRegression


#X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.33, random_state=42)


# Train model
clf_1 = LogisticRegression().fit(features, labels)
 
# Predict on training set
pred_y_1 = clf_1.predict(X_test)
 
# Is our model still predicting just one class?
print( np.unique( pred_y_1 ) )
# [0 1]
 
# How's our accuracy?
print( accuracy_score(y_test, pred_y_1) )

In [ ]:
# What about Area Under ROC?
prob_y_1 = clf_1.predict_proba(X_test)
prob_y_1 = [p[1] for p in prob_y_1]
print( roc_auc_score(y_test, prob_y_1) )

## Slightly better result

In [ ]:
confusion_matrix(y_test, pred_y_1)

# 2. Down-sample Majority Class

In [208]:
# Separate majority and minority classes
df_majority = train[train.default==0]
df_minority = train[train.default==1]

In [209]:
df_minority.shape

(13435, 15)

In [210]:
# Downsample majority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=13435,     # to match minority class
                                 random_state=123) # reproducible results

In [211]:
# Combine minority class with downsampled majority class
df_downsampled = pd.concat([df_majority_downsampled, df_minority])
 
# Display new class counts
df_downsampled.default.value_counts()

1    13435
0    13435
Name: default, dtype: int64

In [212]:
# Separate input features (X) and target variable (y)
labels = df_downsampled.default
features = df_downsampled.drop('default', axis=1)

In [ ]:

 
    

#X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.33, random_state=42)
    
    
# Train model
clf_2 = LogisticRegression()
clf_2.fit(features, labels)
 
# Predict on training set
pred_y_2 = clf_2.predict(X_test)
 
# Is our model still predicting just one class?
print( np.unique( pred_y_2 ) )
# [0 1]
 
# How's our accuracy?
print( accuracy_score(y_test, pred_y_2) )
# 0.581632653061

In [ ]:
# Predict class probabilities
prob_y_2 = clf_2.predict_proba(X_test)
 
# Keep only the positive class
prob_y_2 = [p[1] for p in prob_y_2]

print( roc_auc_score(y_test, prob_y_2))

In [ ]:
confusion_matrix(y_test, pred_y_2)

# 4. Penalize Algorithms (Cost-Sensitive Training)

In [ ]:
from sklearn.svm import SVC

In [ ]:

#```Python

# Separate input features (X) and target variable (y)
#labels = train.default
#features = train.drop('default', axis=1)


#X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.33, random_state=42)    

# Train model
clf_3 = SVC(kernel='linear', 
            class_weight='balanced', # penalize
            probability=True)

#clf_3.fit(features, labels)

# Predict on training set
#pred_y_3 = clf_3.predict(X_test)

# Is our model still predicting just one class?
#print( np.unique( pred_y_3 ) )
# [0 1]

# How's our accuracy?
#print( accuracy_score(y_test, pred_y_3) )


# What about AUROC?
#prob_y_3 = clf_3.predict_proba(X_test)
#prob_y_3 = [p[1] for p in prob_y_3]
#print( roc_auc_score(y_test, prob_y_3) )
#```

# 5. Use Tree-Based Algorithms

In [213]:
from sklearn.ensemble import RandomForestClassifier

In [214]:
final_df = df_test[['client_id']]

In [215]:
# Separate input features (X) and target variable (y)
#labels = train.default
#features = train.drop('default', axis=1)
 
    
#X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.33, random_state=42)   
 
# Train model
clf_4 = RandomForestClassifier()
clf_4.fit(features, labels)

#final_df = df_test['client_id']

df_test = df_test.drop(['client_id'],axis=1)

# Predict on training set
pred_y_4 = clf_4.predict(df_test)
 
# Is our model still predicting just one class?
print( np.unique( pred_y_4 ) )
# [0 1]
 
# How's our accuracy?
#print( accuracy_score(y_test, pred_y_4) )

# What about AUROC?
#prob_y_4 = clf_4.predict_proba(X_test)
#prob_y_4 = [p[1] for p in prob_y_4]
#print( roc_auc_score(y_test, prob_y_4) )

[0 1]

In [216]:
final_df['default'] = pred_y_4

In [217]:
final_df.shape

(58000, 2)

In [222]:
final_df.to_csv('prediction_test.csv',index=False)

In [219]:
df_test.shape

(58000, 14)

In [220]:
import collections

In [221]:
collections.Counter(pred_y_4)

Counter({0: 33420, 1: 24580})

In [160]:
collections.Counter(pred_y_4)

Counter({0: 34594, 1: 23406})

## Better Result with downsampling and decision Tree

In [56]:
confusion_matrix(y_test, pred_y_4)

ValueError: Found input variables with inconsistent numbers of samples: [0, 18454]